:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196f3;
    --second-color: #757575;
    --white-color: #ffffff;
}

body{
    font-family: var(--main-font);
    color: #212121;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ====== COMPONENTS ====== */
.navigation {
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.navigation-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration: none;
    }
    
.navigation-logo-studio {
    color: #212121;
}
/* ====== END COMPONENTS ====== */

/* ============ INDEX ============ */

/* ====== HEADER ====== */
.header .navigation-logo {
    margin-right: 93px;
}
.menu {
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
}

.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}

.header {
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.navigation-list-link {
    position: relative;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
text-decoration: none;
color: #212121;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .active-link {
    position: relative;
    color: var(--main-color);
  }

  .active-link::after {
    position: absolute;
    content: '';
    display: block;
    top: 45px;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 2px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.navigation-list-link:hover,
.navigation-list-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus,
.address-link:hover,
.address-link:focus,
.mail-link-footer:hover,
.mail-link-footer:focus,
.tel-link-footer:hover,
.tel-link-footer:focus{
    color: var(--main-color);
}

.mail a,
.tel a{
    align-items: center;
justify-content: center;
display: flex;
}

.mail-link,
.tel-link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: var(--second-color);
text-decoration: none;
fill: var(--second-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:focus,
.mail-link:hover,
.tel-link:hover,
.tel-link:focus {
    color: var(--main-color);
  fill: var(--main-color);
}

.mail-link svg,
.tel-link svg {
    margin-right: 10px;
}

.tel-link-svg
.mail-link-svg{
    color: var(--second-color);
}

.address {
    display:flex;
    margin-left: auto;
    margin-top: 24px;
}

.address .mail {
    margin-right: 50px;
}


/* ====== END HEDER ====== */

/* ====== SECTION I ====== */
.section-1 {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
min-height: 600px;
}

.main-header {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
padding-top: 200px;
padding-right: 250px;
padding-left: 250px;
}
.modal-btn-div{
    padding-top: 30px;
    padding-left: 475px;
    padding-bottom: 200px;

}
.modal-btn {
    background: var(--main-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor:pointer;
width: 200px;
padding: 10px 41px;
}

.modal-btn-text {
color: var(--white-color);
}

/* ====== END SECTION I ====== */


/* ====== SECTION II ======*/


.lorem-list {
    display: flex;
    padding-top: 94px;
}

.lorem-list-item:not(:last-child){
padding-right: 30px;
}

.lorem-list-item-0 {
    width: 270px;
height: 120px;
left: 215px;
top: 774px;
background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}

.lorem-list-item-1 {
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.lorem-list-item-2 {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding-top: 10px;
}

/* ====== END SECTION II ====== */


/* ====== SECTION III ======*/

.secondary-header {
font-weight: bold;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
padding-top: 94px;
padding-bottom: 50px;
}

.what-we-do-list {
    display: flex;
    padding-bottom: 94px;
}

.what-we-do-list-item {
    position: relative;
}

.what-we-do-list-item:not(:last-child) {
    margin-right: 30px;
}

.descript-img {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
bottom: 0;
background: rgba(47, 48, 58, 0.8);
width: 100%;
height: 70px;
color: rgba(255, 255, 255, 1);
text-transform: uppercase;
}

/* ====== END SECTION III ====== */


/* ====== SECTION IV ======*/

.section-4 {
    background-color: #F5F4FA;
}

.workers-list {
    display: flex;
    padding-bottom: 94px;
}

.workers-list-item:not(:last-child){
    margin-right:30px;
}

.workers-list-item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.workers-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
}

.workers-list-job {
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding-top: 10px;
    padding-bottom: 30px;
}

.team-list {
        display: flex;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 30px;
}

.team-list-link {
    fill: #afb1b8;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: fill 250ms ease-in-out, background-color 250ms ease-in-out;
  }

  .team-list-item:not(:last-of-type) {
    margin-right: 10px;
  }

  .team-list-link:hover,
.team-list-link:focus {
  fill: var(--white-color);
  background-color: #2196F3;
}
/* ====== END SECTION IV ======*/

/* ====== SECTION V ======*/

.client-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}

.client-list-link {
    fill: #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: fill 250ms ease-in-out, border 250ms ease-in-out;
  }

  .client-list-link:hover,
.client-list-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/* ====== END SECTION V ======*/

/* ====== FOOTER ====== */
.footer {
    background-color: #2F303A;
}

.logo-footer {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
}


.address-list-item:not(:last-child) {
padding-bottom: 9px;
}

.address-list-item:last-child{
    padding-bottom: 60px;
}

.mail-link-footer,
.tel-link-footer {
    color: #ffffff 60%;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: var(--second-color);
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-footer{
    color: #ffffff;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-logo-studio-footer {
    color: #ffffff;
}


.footer-content {
    display: flex;
}

.right-footer {
    margin-top: 72px;
    padding-left: 100px;
}

h4 {
    color: var(--white-color);
}

.footer-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-list-link {
    fill: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms ease-in-out;
  }

  .footer-list-item:not(:last-of-type) {
    margin-right: 10px;
  }

  .footer-list-link:hover,
.footer-list-link:focus {
  background-color: #2196f3;
}

.footer-contact-link {
    color: var(--white-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.03em;
  }

  .footer-contact-link a {
    color: var(--white-color);
    opacity: 0.6;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    transition: color 250ms ease-in-out, opacity 250ms ease-in-out;
  }

  .footer-contact-link a:hover,
.footer-contact-link a:focus {
  color: #2196f3;
  opacity: 1;
}

/* ====== END FOOTER ====== */



/* ============ PORTFOLIO ============ */

/* ====== SECTION ====== */

.filtr-list {
    display: flex;
    padding-left: 300px;
    padding-top: 94px;
}

.filtr-btn {
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.filtr-list-item:not(:last-child){
    padding-right: 8px;
}

.filtr-btn:hover,
.filtr-btn:focus {
    background: var(--main-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: #fff;
}

.portfolio-list {
display: flex;
align-items: center;
flex-wrap: wrap;
margin-top: 56px;
}

.portfolio-list-item:not(:nth-child(3n+3)) {
    margin-right: 15px;
}
.portfolio-list-item {
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
margin-bottom: 30px;
}

.portfolio-list-item:nth-child(n + 7) {
    margin-bottom: 94px;
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-name {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
padding-top: 20px;
padding-left: 24px;
}

.portfolio-list-category {
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--second-color);
padding-top: 4px;
padding-left: 24px;
padding-bottom: 20px;
}

.portfolio-list-item-blue-bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .portfolio-list-item-description {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0,03em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
    padding-bottom: 45px;
    opacity: 0.9;
  }

  .portfolio-list-item:hover .portfolio-list-item-description  {
    transform: translateY(-100%);
  }

  /* ====== END SECTION ====== */

  /* ============ END PORTFOLIO ============ */

  /* ====== DATA MODAL ====== */

  .backdrop {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.1);
      transition: visibility 250ms cubic-bezier(0.1, 0.5, 1.0, 1), opacity 250ms cubic-bezier(0.1, 0.5, 1.0, 01);
  }
  .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 528px;
      min-height: 581px;
      background-color: var(--white-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
  }
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer; 
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}