:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196f3;
    --second-color: #757575;
    --white-color: #ffffff;
}

body{
    font-family: var(--main-font);
    color: #212121;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ====== COMPONENTS ====== */
.navigation {
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.navigation-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration: none;
    }
    
.navigation-logo-studio {
    color: #212121;
}
/* ====== END COMPONENTS ====== */

/* ============ INDEX ============ */

/* ====== HEADER ====== */
.header .navigation-logo {
    margin-right: 93px;
}
.menu {
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
}

.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}


.navigation-list-link {
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
text-decoration: none;
color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus,
.address-link:hover,
.address-link:focus{
    color: var(--main-color);
}

.mail-link,
.tel-link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: var(--second-color);
text-decoration: none;
}

.address {
    display:flex;
    margin-left: auto;
    margin-top: 24px;
}

.address .mail {
    margin-right: 50px;
}


/* ====== END HEDER ====== */

/* ====== SECTION I ====== */
.section-1{
    background-color: #2F303A;
min-height: 600px;
margin-top: 25px;
}

.main-header {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
padding-top: 200px;
padding-right: 400px;
padding-left: 400px;
}
.modal-btn-div{
    padding-top: 30px;
    padding-left: 650px;
    padding-bottom: 200px;

}
.modal-btn {
    background: var(--main-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor:pointer;
width: 200px;
padding: 10px 41px;
}

.modal-btn-text {
color: var(--white-color);
}

/* ====== END SECTION I ====== */


/* ====== SECTION II ======*/


.lorem-list {
    display: flex;
    padding-top: 94px;
}

.lorem-list-item:not(:last-child){
padding-right: 30px;
}

.lorem-list-item-1 {
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.lorem-list-item-2 {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding-top: 10px;
}
.secondary-header {
font-weight: bold;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
padding-top: 94px;
padding-bottom: 50px;
}

.what-we-do-list {
    display: flex;
    padding-bottom: 94px;
}

.what-we-do-list-item:not(:last-child) {
    padding-right: 30px;
}

/* ====== END SECTION II ====== */


/* ====== SECTION III ======*/

.section-3 {
    background-color: #F5F4FA;
}

.workers-list {
    display: flex;
    padding-bottom: 94px;
}

.workers-list-item:not(:last-child){
    margin-right:30px;
}

.workers-list-item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.workers-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
}

.workers-list-job {
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding-top: 10px;
    padding-bottom: 30px;
}
/* ====== END SECTION III ======*/


/* ====== FOOTER ====== */
.footer {
    background-color: #2F303A;
}

.logo-footer {
    padding-top: 50px;
    padding-bottom: 20px;
}


.address-list-item:not(:last-child) {
padding-bottom: 9px;
}

.address-list-item:last-child{
    padding-bottom: 60px;
}

.mail-link-footer,
.tel-link-footer {
    color: #ffffff 60%;

}
.address-link-footer{
    color: #ffffff;
    text-decoration: none;
}

.navigation-logo-studio-footer {
    color: #ffffff;
}

/* ====== END FOOTER ====== */



/* ============ PORTFOLIO ============ */

/* ====== SECTION ====== */

.filtr-list {
    display: flex;
    padding-left: 275px;
    padding-top: 94px;
    margin-top: 25px;
    border-top: 1px solid #ECECEC;
}

.filtr-btn {
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
}

.filtr-list-item:not(:last-child){
    padding-right: 8px;
}

.filtr-btn:hover,
.filtr-btn:focus {
    background: var(--main-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: #fff;
}

.portfolio-list {
display: flex;
align-items: center;
flex-wrap: wrap;
/* padding-left: 215px; */
margin-top: 56px;
}

.portfolio-list-item:not(:nth-child(3n+3)) {
    margin-right: 15px;
}
.portfolio-list-item {
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
margin-bottom: 30px;
}

.portfolio-list-item:nth-child(n + 7) {
    margin-bottom: 94px;
}

.portfolio-list-name {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
padding-top: 20px;
padding-left: 24px;
}

.portfolio-list-category {
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--second-color);
padding-top: 4px;
padding-left: 24px;
padding-bottom: 20px;
}


