.banner {
    background-image: url("../images/background-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
    min-height: 600px;

    &__main-header {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    padding-top: 200px;
    }
    
    &__modal-btn-div{
        padding-top: 30px;
        padding-left: 110px;
        padding-bottom: 200px;
    }

    @media (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
        & {
            background-image: url("../images/background-mobile@2x.jpg");
        }
    }
    
    @media screen and (min-width: 768px){
        &{
            background-image: url("../images/background-tablet.jpg");

            @media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
            &{
                background-image: url("../images/background-tablet@2x.jpg");
            }
        }
        }

        &__main-header {
            text-align: center;
            padding-left: 140px;
            padding-right: 140px;
            padding-top: 200px;
        }
        &__modal-btn-div {
            text-align: center;
            padding: 0;
            padding-top: 30px;
        }
    }
    
    @media screen and (min-width: 1200px){
        &{
            background-image: url("../images/background.jpg");
        }

         &__main-header {
            padding-top: 200px;
    padding-right: 250px;
    padding-left: 250px;
    font-size: 44px;
        }
        &__modal-btn-div {
            text-align: center;
        }
        @media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx){
            background-image: url("../images/background@2x.jpg");
        }
    }
}