
.client-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;

    &__link {
      fill: #afb1b8;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      transition: fill 250ms ease-in-out, border 250ms ease-in-out;
    }

    &__link:hover,
    &__link:focus {
      fill: #2196f3;
      border: 1px solid #2196f3;
    }
}



 
