.section-1 {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
min-height: 600px;
}

.main-header {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
padding-top: 200px;
padding-right: 250px;
padding-left: 250px;
}
.modal-btn-div{
    padding-top: 30px;
    padding-left: 475px;
    padding-bottom: 200px;

}
