:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196f3;
}
body{
    font-family: var(--main-font);
}
/* ====== COMPONENTS ====== */

/* ====== END COMPONENTS ====== */


/* ====== HEADER ====== */
.navigation-list-link {
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus{
    color: var(--main-color);
}

.mail-link,
.tel-link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: #757575;
}

/* ====== END HEDER ====== */