.logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration: none;

    &__studio {
        color: #212121;

        &--footer {
            color: #ffffff;
        }
    }

    &__footer {
        padding-top: 50px;
        padding-bottom: 20px;
        display: flex;
    }
    }
    




