.menu-mobile {
	width: 100%;
	height: 100%;
	background-color: var(--white-color);
	flex-direction: column;
	z-index: 1;

	&__open {
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: none;
	}

	&__close-btn {
		top: 13px;
		right: 20px;
		border: none;
		
		
	}

	&__list {
		margin-top: 48px;
		margin-bottom: 100px;
		margin-left: 40px;
	}

	&__item:not(:last-child) {
		margin-bottom: 32px;
	}
}

.menu-mobile__open-icon {
	width: 24px;
	height: 16px;
	fill: black;

	&:focus,
	&:hover {
		fill: var(--main-color);
		cursor: pointer;
	}
}

.menu-mobile__link {
	color: black;
	font-size: 40px;
	font-weight: 500;
	line-height: 1.175;
	letter-spacing: 0.02em;
	text-decoration: none;

	&--active {
		color: var(--main-color);
	}
}

.mobile-contacts {
	position: absolute;
	bottom: 134px;
	margin-left: 40px;

	&__link {
		color: var(--gray-color);
		font-size: 24px;
		font-weight: 500;
		line-height: 1.167;
		letter-spacing: 0.02em;
		text-decoration: none;
	}

	&__link--accent {
		color: var(--main-color);
		font-size: 34px;
		font-weight: 500;
		line-height: 1.176;
		letter-spacing: 0.02em;
	}

	&__item:not(:last-child) {
		margin-bottom: 32px;
	}
}

.mobile-socials {
	display: flex;
	margin-left: 40px;
	position: absolute;
	bottom: 48px;

	&__link {
		color: var(--main-color);
		font-size: 18px;
		font-weight: 500;
		line-height: 1.222;
		letter-spacing: 0.02em;
		text-decoration: none;
	}
}

.mobile-socials__item {
	margin-right: 20px;
	position: relative;

	&:not(:first-child)::after {
		position: absolute;
		top: 0;
		left: -10px;
		content: "";
		display: block;
		width: 1px;
		height: 22px;
		background-color: rgba(33, 33, 33, 0.2);
	}
}


	.close-btn__icon {
	width: 18px;
	height: 18px;
}
