.modal-btn {
    background: var(--main-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor:pointer;
width: 200px;
padding: 10px 41px;

&__text {
    color: var(--white-color);
    }
}


