.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    transition: visibility 250ms cubic-bezier(0.1, 0.5, 1.0, 1), opacity 250ms cubic-bezier(0.1, 0.5, 1.0, 01);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.close-btn {
position: absolute;
right: 8px;
top: 8px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
fill: var(--white-color);
background-color: var(--white-color);
display: flex;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-text {
  padding-top: 40px;
  margin-left: 100px;
  margin-top: 600px;
}

.modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  padding: 40px;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-wrapper h3 {
  text-align: center;
  padding-bottom: 12px;
}

.form-label textarea {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.form-label {
  padding-bottom: 4px;
  color: var(--second-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
}

.label-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding-bottom: 10px;
}

.label-wrapper svg {
  position: absolute;
  fill: #2f303a;
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wrapper input
 {
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label textarea{
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.4);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wrapper input:focus,
.form-label textarea:focus {
  border: 1px solid var(--main-color);
}

.label-wrapper input:focus + svg {
  fill: var(--main-color);
}

.policy-wrapper {
  display: flex;
}

.policy {
  cursor: pointer;
  display: flex;
}

.policy a {
  text-decoration: underline;
  color: var(--main-color);
}

.policy a:hover,
.policy a:focus {
  opacity: 0.8;
}

.policy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 16px;
  width: 15px;
  border: 1px solid #2f303a;
  border-radius: 2px;
  background-color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.policy input:checked ~ .checkmark {
  background-color: var(--main-color);
  border: none;
}

.checkmark-svg {
  display: none;
  opacity: 0;
}

.policy input:checked ~ .checkmark .checkmark-svg {
  display: block;
  opacity: 1;
}

.policy-wrapper .policy-text {
  margin: 0 5px;
}

.btn-form{
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 16px;
  padding: 10px 41px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 30px auto auto auto;
}