.newsletter {
    padding-top: 16px;
    padding-bottom: 30px;
    display: flex;
    gap: 12px;
  
    &__text {
      border: 1px solid var(--second-color);
      color: var(--second-color);
      background-color: transparent;
      border-radius: 4px;
      width: 358px;
      height: 50px;
      padding-left: 16px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__text:focus {
      color: var(--main-color);
      border: 1px solid var(--main-color);
      outline: none;
    }
    &__btn {
      background-color: var(--main-color);
      border: 0;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      padding: 10px 28px 10px 42px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 24px;
      cursor: pointer;
    }
    &__input {
      color: var(--white-color);
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
  }